<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Firebase Authentication</title>
  <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
</head>
<body> 

<div id="app">
  <h1>Vue School - Firebase Authentication</h1>

  <div v-if="authUser">
    <h2>Signed in as {{authUser.email}}
      <img v-if="linkedGoogle" src="https://www.gstatic.com/mobilesdk/160512_mobilesdk/auth_service_google.svg" alt="">
      <img v-if="linkedPassword" src="https://www.gstatic.com/mobilesdk/160409_mobilesdk/images/auth_service_email.svg" alt="">
    </h2>
    <img :src="authUser.photoURL" alt="">
    <p> 👨 Hi , What's up , {{authUser.displayName || "friend"}} we know you like {{authUser.favouriteFood || 'food'}} </p>
    <button @click="signOut">Sign out</button>
    <button v-if="!linkedGoogle" @click="linkGoogle">Link Googe Account</button>
    <button v-else @click="unlinkGoogle">Unlink Googe Account</button>

    <form @submit.prevent="updateProfile">
        <h2>Update Profile</h2>
        <input v-model="displayName" placeholder="Your name">
        <input v-model="photoURL" placeholder="Your Photo url">
        <button>Update</button>
    </form>

    
    <form @submit.prevent="updateCustomDetails">
      <h2>Update Additional Details</h2>
      <input v-model="favoriteFood" placeholder="Your favorite food">
      <button>Update</button>
    </form>


    <form @submit.prevent="updateEmail">
        <h2>Update Email</h2>
        <input v-model="email" placeholder="Your email">
        <button>Update</button>
    </form>

    <form @submit.prevent="updatePassword">
        <h2>Update Password</h2>
        <input type="password" v-model="newPassword" placeholder="Your password">
        <button>Update</button>
    </form>

  </div>

  <div v-else>
    <form @submit.prevent="register">
        <h2>Register</h2>
        <input type="email" v-model="email" placeholder="Type your email">
        <input type="password" v-model="password" placeholder="Pick your password">
        <button>Register</button>
    </form>

    <form @submit.prevent="singIn">
        <h2>Sign in</h2>
        <input type="email" v-model="email" placeholder="Type your email">
        <input type="password" v-model="password" placeholder="Type your password">
        <button>Sigin In</button>
    </form>

    <div>
        <h2>Sign With Google</h2>
        <button @click="signInWithGoogle">Sign In</button>
    </div>

  </div>
</div>

<script>

    const config = {
        apiKey: "AIzaSyBQPNStB4CD-Yq1Io8B8olKVGyk3M8MPGo",
        authDomain: "vueschool-firebase-auth-42ffd.firebaseapp.com",
        projectId: "vueschool-firebase-auth-42ffd",
        storageBucket: "vueschool-firebase-auth-42ffd.appspot.com",
        messagingSenderId: "985219955992",
        appId: "1:985219955992:web:958c4f60fbc8fc61e0326d",
        measurementId: "G-6NFGCX1V9K"
    };
  firebase.initializeApp(config)

  new Vue({
    el: '#app',
    data: {
      email: '',
      password: '',
      displayName:null,
      photoURL:null,
      authUser:null,
      newPassword:null,
      favoriteFood:null
    },

    computed:{
      linkedGoogle(){
        return !!this.authUser.providerData.find(provider => provider.providerId === 'google.com');
      },

      linkedPassword(){
        return !!this.authUser.providerData.find(provider => provider.providerId === 'password');
      }
    },

    methods: {
      register () {
        firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
            .catch(error => alert('😢'+error.message))
      },

      signOut(){
        firebase.auth().signOut()
      },

      singIn(){
        firebase.auth().signInWithEmailAndPassword(this.email,this.password)
            .catch(error => alert('😢'+error.message))
      },
      signInWithGoogle(){
        const provider = new firebase.auth.GoogleAuthProvider();
        firebase.auth().signInWithPopup(provider)
            .catch(error => alert('😢'+error.message))
            .then(data => console.log(data.user,data.credential.accessToken))
      },

      linkGoogle(){
        const provider = new firebase.auth.GoogleAuthProvider();
        this.authUser.linkWithPopup(provider)
            .catch(error => alert('😢'+error.message))
            .then(data => console.log(data.user,data.credential.accessToken))
      },


      unlinkGoogle(){
        this.authUser.unlink('google.com');
      },


      updateProfile(){
        this.authUser.updateProfile({
            displayName:this.displayName,
            photoURL:this.photoURL
        })
      },

      updateCustomDetails () {
        firebase.database().ref('users').child(this.authUser.uid)
          .update({favoriteFood: this.favoriteFood})
      },

      updateEmail(){
        this.authUser.updateEmail(this.email)
      },
 
      updatePassword(){
        this.authUser.updatePassword(this.newPassword)
            .then(() => {this.newPassword = null})
            .catch(error => alert('😢'+error.message))
      }
    },

    created () {
        firebase.auth().onAuthStateChanged(user => {
            this.authUser = user
            if(user){
                this.displayName = user.displayName
                this.photoURL = user.photoURL       
                this.email = user.email
                firebase.database().ref('users').child(user.uid).once('value', snapshot => {
                  if (snapshot.val()) {
                    this.favoriteFood = snapshot.val().favoriteFood
                    Vue.set(this.authUser, 'favoriteFood', this.favoriteFood)
                  }
                })
            }
        })
    }
  })
</script>
</body>
</html>
